<div class="container">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header">
        <h2>{{ todoItem?.title }}</h2>
      </div>
      <div class="card-body">
        <form
          #editTodoForm="ngForm"
          (ngSubmit)="updateTodo(editTodoForm.value)"
        >
          <div class="form-group">
            <input
              class="form-control"
              value=[(todoItem.title)]
              name="title"
              id="name"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              value="ID: {{ todoItem?.id }}"
              readonly
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              value="User ID: {{ todoItem?.userId }}"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              value="Completed: {{ todoItem?.completed }}"
            />
          </div>
          <button class="btn btn-sm btn-primary">Save Changes</button>
          <button
            *ngIf="!todoItem.completed"
            class="btn btn-sm btn-success"
            type="button"
            (click)="completeTodo(todoItem)"
          >
            Complete
          </button>
          <button
            class="btn btn-sm btn-danger"
            type="button"
            (click)="deleteTodo(todoItem)"
          >
            Delete
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
