<form #createTodoForm="ngForm" (ngSubmit)="updateTodo(createTodoForm.value)">
  <div class="row">
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Title"
        [ngModel]="data.activeTodo.title"
        name="title"
        id="title"
        type="text"
        value="{{ data.activeTodo.title }}"
      />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="full-width">
      <textarea
        matInput
        placeholder="Description"
        [ngModel]="data.activeTodo.description"
        name="description"
        id="description"
        type="textarea"
        value="{{ data.activeTodo.description }}">
      </textarea>
    </mat-form-field>
  </div>
  <button mat-button type="submit">Update</button>
  <button mat-button type="button" (click)="deleteTodo()">Delete</button>
</form>
