<div class="container">
  <div class="login-form">
    <div class="row justify-content center">
      <div class="col-md-8 offset-md-2">
        <form
          #loginForm="ngForm"
          (ngSubmit)="login(loginForm.value)"
          autocomplete="off"
        >
          <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-form-field class="full-width">
              <input
                matInput
                ngModel
                id="userName"
                name="userName"
                type="text"
                placeholder="Username"
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
                matInput
                ngModel
                id="password"
                name="password"
                type="password"
                placeholder="Password"
              />
            </mat-form-field>
            <button mat-button type="submit">Login</button>
            <em id="login-error-message" class="error-right" *ngIf="loginFailed"
              >Login Failed</em
            >
          </mat-card>
        </form>
      </div>
    </div>
  </div>
</div>
